.home-container {
    margin-top: 40px;
}

.home-content {
    padding-top: 180px;
    padding-left: 120px;
    padding-bottom: 155px;    
}

.text-title {
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.015em;
}

.text-subtitle {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #5A6774;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: normal;
}