.main-nav {
    height: 70px;
    color: #FFFFFF;
    align-items: center;
    padding-left: 40px;
    margin-left: 0;
    margin-right: 0;
    background: #1890FF;
}

.nav-logo-text {
    color: #FFFFFF;
}